* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e7e0d7;
}

nav {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, p {
    color: #34302a;
    padding: 0 10%;
}

h1 {
    background-color: #e7e0d7;
}

h2 {
    color: #34302a;
}

h3 {
    color: #34302a;
}

p {
    font-size: 18px;
    margin-right: 2%;
}

label {
    color: #34302a;
    font-size: 18px;
    margin-right: 2%;
}

ul {
    padding-left: 40px;
    list-style-type: none;
}

input, textarea {
    font-size: 18px;
    padding: 5px;
    border-radius: 5px;
}

textarea {
    padding: 10px;
}

select {
    width: 230px;
    height: 35px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #4d463d;
    border: 2px solid #4d463d;
    border-radius: 5px;
    padding: 5px 30px 5px 10px;
    cursor: pointer;
    appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon points="0,0 10,10 20,0" fill="%234d463d"/></svg>') no-repeat right 10px center;
}

button {
    background-color: white;
    color: #4d463d;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #7A6F60;
    color: white;
}

hr.line {
    border: none;
    height: 2px;
    background-color: #4d463d;
    width: 100%;
}

hr.dotted-line { 
    border-top: 2px dashed #4d463d; 
    width: 100%; 
    margin: 10px auto; 
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0 10%;
    background-color: #e7e0d7; /* Example background color */
}

.header-right {
    display: flex;
    align-items: center;
}


/* Logo styles */
.logo {
    margin-left: 40px;
    width: 200px;
}

.center-logo {
    display: block;
    margin: 50px auto; 
    width: 50%; 
}

/* Icon styles */
.icon {
    width: 30px;
}

.menu-icon {
    width: 25px;
    height: 22px;
}

/* Dropdown Button styles */

.dropdown {
    background-color: transparent;
    color: #34302a;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 2px;
    padding-right: 0px;
}

.dropbtn:hover {
    opacity: 0.7;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    right: 5%;
    background-color: #f9f9f9;
    min-width: 110px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .dropdown-item {
    background: none;
    border: none;
    color: black;
    padding: 12px 16px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
    background-color: #c8b4a4;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;

}

/* hr styles */
hr.line {
    border: none;
    height: 2px;
    background-color: #4d463d;
    width: 100%;
}

hr.dotted-line { 
    border-top: 2px dashed #4d463d; 
    width: 100%; 
    margin: 10px auto; 
}

.inline {
    display: inline;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}


/* Buttons styles */
.main-button {
    width: 200px;
    height: 60px;
}

.flip-button {
    border: 2px solid black;
    margin-left: 10%;
    background-color: #afa291;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 5px 15px;
    font-weight: bold;
}

.flip-button:hover {
    background-color: #4c453a;
    color: white;
}

.normal-button {
    border: 2px solid black ;
    margin-left: 10%;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #e5dacd;
}

.no-margin {
    margin-left: 0;
}

.margin {
    margin-left: 10%;
}

.create-button {
    background-color: transparent;
    border: none;
}

.create-button:hover {
    background-color: transparent;
    color: #afa291;
}

.read-button {
    background-color: transparent;
    border: 2px solid #4d463d;
    margin-left: 10%;
    margin-top: 5px;
    padding: 2px 4px;
    font-size: 16px;
}

.login-button {
    background-color: #e5dacd;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
}

.register-button {
    background-color: #e5dacd;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
}

.search-button {
    background-color: #e5dacd;
    padding: 5px 10px;
    margin-left: 5px;
}

/* Title Styles */
.login-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px 0;
    background-color: #34302a;
    color: white;
    width: 100%;
}

.blog-title {
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(to right, rgb(59, 52, 40, 0.9),  #34302a, rgba(59, 52, 40, 0.9));
    color: white;
    padding: 20px;
}

.reader-title {
    background: linear-gradient(to right, rgb(59, 52, 40, 0.9),  #34302a, rgba(59, 52, 40, 0.9));
    color: white;
    padding: 10px 10%;
}

.reader-serach-title {
    color: #34302a;
    font-weight: bold;
    font-size: 24px;
    margin-left: 10%;
}

/* Article Styles */
.wrap-article {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-width: 100%;
    word-wrap: break-word;
}

/* Back to Top Button */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

#backToTopBtn img {
    width: 30px;
    height: 30px;
}

#backToTopBtn:hover img {
    opacity: 0.7;
}

/* Tags Styles */
.tag {
    display: inline-block;
    background-color: #34302a84;
    color: white;
    padding: 0 10px;
    font-size: 14px;
    margin: 2px 2px;
    border-radius: 5px;

}

.tag button {
    background: none;
    padding: 2px;
    border: none;
    margin-left: 4px;
    cursor: pointer;
}
